# Entorno de la aplicación
ENVIRONMENT=dev # dev | prod
DEBUG=True

# Configuración de la base de datos
DATABASE_URL=sqlite+aiosqlite:///./orbis.db

# Configuración de IA (Google Gemini)
GEMINI_API_KEY=tu_api_key_aqui

# Configuración Geoespacial
GEOAPIFY_API_KEY=tu_api_key_aqui

# Logging
LOG_LEVEL=INFO
